:root{
   --lightRed: hsl(0, 100%, 67%);
   --orangeyYellow: hsl(39, 100%, 56%);
   --greenTeal: hsl(166, 100%, 37%);
   --cobaltBlue: hsl(234, 85%, 45%);
   --lightSlateBlueBackground: hsl(252, 100%, 67%);
   --lightRoyalBlueBackground: hsl(241, 81%, 54%);

/*- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)*/
--white: hsl(0, 0%, 100%);
--paleBlue: hsl(221, 100%, 96%);
--lightLavender: hsl(241, 100%, 89%);
--darkGrayBlue: hsl(224, 30%, 27%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--white);
}

header{
    background-image: linear-gradient(hsl(252,100%,67%),hsl(241,81%,54%));
    border-radius: 0 0 2rem 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    color: var(--lightLavender);
    font-size: 1.2rem;
}

p{
    margin: 0;
}

.circle{
    background-image: linear-gradient(hsla(256,72%,46%,1),hsla(256,72%,46%,0));
    border-radius: 50%;
    padding: 2.2rem;
}

.pad{
    margin: 1rem 0 1rem 0;
}

h1,h2{
    margin: 0;
    color: var( --white);
}

.title{
    width: 80%;
    margin: auto;
}

h3{
    font-weight: 800;
    font-size: 1.5rem;
}

.summary{
    width: 80%;
    padding:1.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
}

.reaction{
    background-color: hsla(0, 100%, 67%, 0.05);    
}

.reactionColor{
    color: var(--lightRed);
    font-weight: 800;
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.05);
}

.memoryColor{
    color: var(--orangeyYellow);
    font-weight: 800;
}

.verbal{
    background-color: hsla(166, 100%, 37%,0.05);
}

.verbalColor{
    color: var(--greenTeal);
    font-weight: 800;
}

.visual{
    background-color: hsla(234, 85%, 45%,hsla(0, 100%, 67%, 0.05));
}

.visualColor{
    color: var(--cobaltBlue);
    font-weight: 800;
}

.action{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.numberColor{
    color: var(--darkGrayBlue);
}

button{
    width: 80%;
    padding: 1rem;
    display: block;
    margin: auto;
    border-radius: 2rem;
    border: none;
    background-color: var(--darkGrayBlue);
    color: var(--lightLavender);
    font-size: 1.2rem;
    font-weight: 600;
}

.attribution {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 1.5rem;
    width: 80%;
    margin: auto;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:750px){
    main{
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header{
        width: 40%;
        height: 70vh;
        border-radius: 2rem;
    }

    .details{
        width: 40%;
        height: 70vh;
    }

    .summary{
        padding: 1.2rem 1rem;
    }
}
  